
@{
    ViewBag.Title = "CRM";
    Layout = "~/Views/Shared/_MainCrm.cshtml";
}


<section class="content-wrapper">
    <div class="row">
        <div class="twelve column">


            <div class="clear"></div>

            <div class="row">
                <div class="twelve column">
                    <h3 class="title-line"><span>SWCRM İçerikleri?</span></h3>
                </div>

                <div class="three column text-center mobile-two">
                    <div class="circular-bar-blue donutalign" data-percent="100"></div>
                    <h3>Müşteri ve Kontak Yönetimi</h3>
                    <p>Müşteri İlişkileri ve Kontak Modülü </p>
                </div>

                <div class="three column text-center mobile-two">
                    <div class="circular-bar-blue donutalign" data-percent="100"></div>
                    <h3>Ürün ve Stok Altyapısı</h3>
                    <p>Ürün - Stok Modülü</p>
                </div>

                <div class="three column text-center mobile-two">
                    <div class="circular-bar-blue donutalign" data-percent="100"></div>
                    <h3>Görev ve Ajanda Yönetimi</h3>
                    <p>Görev - Etkinlik - Ajanda Modülü</p>
                </div>

                <div class="three column text-center mobile-two">
                    <div class="circular-bar-blue donutalign" data-percent="100"></div>
                    <h3>Satış ve Teklif Yönetimi</h3>
                    <p>Satış ve Teklif Modülü</p>
                </div>
            </div>

        </div>
    </div>
</section>


