
@{
    ViewBag.Title = "EProCRM";
    Layout = "~/Views/Shared/_MainCrm.cshtml";
}



<section id="pagetitle-container">
    <div class="row">
        <div class="twelve column">
            <h5>E-Pro CRM paketi ile E-Ticaret özelliğine sahip bir CRM sistemine sahip olun.</h5>
            <h6>StandartCRM paketindeki özelliklerle ek olarak sanal bir mağazayı yönetebileceğiniz modüllere ve online olarak ürünlerinizin satışını yapabileceğiniz bir web sitesine sahip olursunuz.</h6>
        </div>
        <div class="twelve column breadcrumb">
            <ul>
                <li>@Html.ActionLink("Anasayfa", "Index", "Home")</li>
                <li class="current-page">@Html.ActionLink("E-Pro CRM", "EProCRM", "Home")</li>
            </ul>
        </div>
    </div>
</section>
<!-- /baslik-->

<section class="content-wrapper">
    <div class="row">
        <div class="twelve column">


            <div class="clear"></div>

            <div class="row">

                <div class="three column text-center mobile-two">
                    <div class="circular-bar-blue donutalign" data-percent="100"></div>
                    <h3>Sipariş - Kargo Yönetimi</h3>
                    <p>
                        <i class="fa fa-hand-o-right" aria-hidden="true"></i> Kargo Yönetimi<br />
                        <i class="fa fa-hand-o-right" aria-hidden="true"></i> Sipariş Yönetimi
                    </p>
                </div>

                <div class="three column text-center mobile-two">
                    <div class="circular-bar-blue donutalign" data-percent="100"></div>
                    <h3>Kampanya ve İçerik Yönetimi</h3>
                    <p>
                        <i class="fa fa-hand-o-right" aria-hidden="true"></i> Kampanya Yönetimi<br />
                        <i class="fa fa-hand-o-right" aria-hidden="true"></i> İçerik Yönetimi
                    </p>
                </div>

                <div class="three column text-center mobile-two">
                    <div class="circular-bar-blue donutalign" data-percent="100"></div>
                    <h3>Opsiyonlar ve Ürün Yönetimi</h3>
                    <p>
                        <i class="fa fa-hand-o-right" aria-hidden="true"></i> Ürün Yönetimi<br />
                        <i class="fa fa-hand-o-right" aria-hidden="true"></i> Opsiyonlar
                    </p>
                </div>

                <div class="three column text-center mobile-two">
                    <div class="circular-bar-blue donutalign" data-percent="100"></div>
                    <h3>Mağaza ve Vitrin Tasarımı </h3>
                    <p>
                        <i class="fa fa-hand-o-right" aria-hidden="true"></i> Mağaza Ayarları<br />
                        <i class="fa fa-hand-o-right" aria-hidden="true"></i> Vitrin Tasarımı
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>


<!-- içerik -->
<section class="content-wrapper">
    <div class="row">
        <div class="twelve column">

            <div class="clear"></div>

            <h6 class="text-center bold" style="font-size:16px">
                <span><h1> E-Ticaret modüllü temamız yapım aşamasındadır. En kısa sürede hizmetinize sunulacaktır.. </h1></span>

        </div>

    </div>
    <br>

</section>
<!-- içerik -->
