
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainCrm.cshtml";
}


<!-- web site özellikleri bölümü // dönen ikon  -->
<section class="content-wrapper">


    <div class="row">

        <div class="twelve column smallmargin-bottom">
            <h3 class="title-line"><center><span style="color:#666; font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif">SWCRM'in Özellikleri</span></span></h3><br>
        </div>
        <div class="twelve column smallmargin-top2">
            <ul class="block-grid-nomargin three-up mobile-style">
                <li>
                    <div class="animated-column text-center">
                        <div class="flatborder">
                            <i class="resim-ttk"></i><!---resmin çağrıldığı class metodu--->
                        </div>
                        <h3>Bulut Bilişim</h3>
                        <p>Bulut bilişim teknolojisi ile herhangi bir sunucu bedeli olmadan hemen kullanmaya başlayabilirsiniz.</p>
                    </div>
                </li>
                <li>
                    <div class="animated-column text-center">
                        <div class="flatborder">
                            <i class="resim-yonetim"></i><!---resmin çağrıldığı class metodu--->
                        </div>
                        <h3>Yedekleme</h3>
                        <p>Verileriniz düzenli olarak yedeklenerek veri kaybına yönelik üst düzeyde önlem alınır.</p>
                    </div>
                </li>
                <li>
                    <div class="animated-column text-center">
                        <div class="flatborder">
                            <i class="resim-seo"></i><!---resmin çağrıldığı class metodu--->
                        </div>
                        <h3>SEO Dostu</h3>
                        <p>Yaptığımız web siteleri SEO'ya uygun olarak yapılmakta ve her zaman Google dostu web sitesine sahip olursunuz.</p>
                    </div>
                </li>

                <li>
                    <div class="animated-column text-center">
                        <div class="flatborder">
                            <i class="resim-kalite"></i>    <!---resmin çağrıldığı class metodu--->

                        </div>
                        <h3>Görsel Kalite</h3>
                        <p>CRM'e giren müşteriler web sitenizdeki kaliteden kopamayacak.</p>
                    </div>
                </li>

                <li>
                    <div class="animated-column text-center">
                        <div class="flatborder">
                            <i class="resim-guvenlik"></i><!---resmin çağrıldığı class metodu--->
                        </div>
                        <h3>Güvenlik</h3>
                        <p>SWCRM, verilerizi üst düzey güvenlik ile korunan sunucuları üzerinde barındırır..</p>
                    </div>
                </li>

                <li>
                    <div class="animated-column text-center">
                        <div class="flatborder">
                            <i class="resim-destek"></i><!---resmin çağrıldığı class metodu--->
                        </div>
                        <h3>Teknik Destek</h3>
                        <p>CRM teslim edildikten sonra destek almaya devam edebilirsiniz.</p>
                    </div>
                </li>




            </ul>
        </div>
    </div>

    <!-- hazır web site paketleri bölümü // galeri şeklinde  -->

</section>
<!--/içerik section-->
<!-- müşteri görüşleri -->
<section id="bottom-content" style="background-color:#FFF">

    <div class="row">
        <div class="twelve column">
            <h3 class="title-line">
                <center>
                    <span style="color:#666; font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif"> Neden CRM Kullanmalısınız? </span></span>
            </h3>

            <br>
        </div>


        <div class="twelve column" style="text-align:center ">
            <div class="list_carousel responsive" style="text-align:center">

                <ul id="testi-carousel" style="z-index:5555">

                    <li>
                        <div class="testi-text">

                            <p style="color:#666; font-size:18px; font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif; text-align:center">
                                <br>
                                <i class="fa fa-check-circle-o" aria-hidden="true"></i>  Yeni bir müşteri kazanmak, mevcut müşteriyi elde tutmaya göre 6-7 kat daha pahalıdır.
                                (Harward Business Review)
                                <br />
                                <i class="fa fa-check-circle-o" aria-hidden="true"></i>  %5 Müşteri sadakati, firmanızın gelirlerini %25-%85 arasında arttırabilir.
                                (The Loyalty Effect - Frederick F. Reichheld)
                                <br />
                                <i class="fa fa-check-circle-o" aria-hidden="true"></i>  Şirketler 5 yıl içerisinde müşterilerinin yaklaşık %50’sini kaybederler.
                                (The Loyalty Effect - Frederick F. Reichheld)
                            </p>

                        </div>
                    </li>

                </ul>

                <div class="clear"></div><br>

                <div id="pager-carousel" class="pager" style="margin:0 ; padding-top:50px"></div>
            </div>

        </div>
    </div>
</section>
<!-- /.müşteri görüşleri -->
<!-- alt kısım -->
